Repository prismaymedia/linkfy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prismaymedia/linkfy-maintainers, @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/extension-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team

fix(breadcrumb): resolve visual and functional issues in breadcrumb navigation
  client/src/components/breadcrumb-nav.tsx
  client/src/components/ui/breadcrumb.tsx
  yarn.lock
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

feat(validation): improve YouTube Music URL detection and validation
  client/src/components/conversion-form.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/services/youtube.service.spec.ts
  server/src/services/youtube.service.ts
  shared/schema.ts
  yarn.lock
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/devops-team

fix(api): prevent response body double-read and correct Sentry DSN variable
  client/src/lib/queryClient.ts
  server/src/instrument.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(tests): resolve failing test cases
  client/src/lib/test/AuthContext.test.tsx
  client/src/lib/test/queryClient.test.ts
Owners: @prismaymedia/frontend-team

fix(youtube): fix YouTube URL detection regex patterns
  client/src/components/conversion-form.tsx
  client/src/lib/test/conversionForm.test.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/services/youtube.service.ts
  server/src/test/schema.validation.spec.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

Update schema.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(auth): add production URL to CORS and frontend environment configuration
  client/.env.production
  server/src/main.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(env): set correct production API URL for Linkfy backend
  client/.env.production
Owners: @prismaymedia/frontend-team

fix(sentry): update DSN configuration to use correct project endpoin
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

fix(youtube): handle album URLs safely and improve duplicate URL validation
  client/src/components/conversion-form.tsx
  server/src/services/youtube.service.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(router): simplify base path configuration in main.tsx and vite.config.ts
  client/src/main.tsx
  client/vite.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

fix(tests): adjust Vitest configuration and setup file
  client/vite.config.ts
Owners: @prismaymedia/devops-team

fix(client): resolve vercel spa routing and auth callback handling
  client/src/pages/auth.tsx
  client/vercel.json
Owners: @prismaymedia/frontend-team

chore(master): release linkfy 2.4.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

fix(breadcrumb): resolve component structure
  client/src/components/breadcrumb-nav.tsx
  client/src/lib/test/setupTests.tsx
  client/vitest.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

chore(test): remove unnecessary React global setup and define config
  client/src/lib/test/setupTests.tsx
  client/vitest.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

test(server): fix Jest ESM module error for cuid2 package
  server/jest-e2e.json
Owners: @prismaymedia/backend-team

fix(validation): improve URL detection and validation for YouTube Music and Spotify
  server/src/test/schema.validation.spec.ts
  shared/schema.ts
Owners: @prismaymedia/backend-team, @prismaymedia/frontend-team

chore(config): update transformIgnorePatterns to include additional modules
  server/jest-e2e.json
Owners: @prismaymedia/backend-team

fix: resolve Jest e2e test configuration for ES6 modules
  server/jest-e2e.json
Owners: @prismaymedia/backend-team

fix(ci): Resolve e2e test failures on ESM modules
  server/jest-e2e.json
Owners: @prismaymedia/backend-team

fix(e2e): adjust Jest config to support ESM dependencies in tests
  server/jest-e2e.json
  yarn.lock
Owners: @prismaymedia/backend-team, @prismaymedia/devops-team

fix(validation): update schema message, tests, and jest-e2e config
  server/jest-e2e.json
  server/src/test/schema.validation.spec.ts
  shared/schema.ts
Owners: @prismaymedia/backend-team, @prismaymedia/frontend-team

chore(master): release linkfy 2.4.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

feat(backend,client): add playlist extraction and track conversion support
  client/src/components/conversion-form.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/controllers/app.controller.ts
  server/src/services/conversion.service.ts
  server/src/services/youtube.service.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

test: update and extend tests for playlist extraction and conversion flow
  client/src/lib/test/conversionForm.test.tsx
  server/src/app.controller.spec.ts
  server/src/test/app.controller.e2e-spec.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

feat(ux): enhance loading states and user feedback across application
  client/src/components/conversion-form.tsx
  client/src/components/result-card.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

chore: responsive layout improvements across multiple pages
  client/src/components/conversion-form.tsx
  client/src/components/header.tsx
  client/src/components/language-switcher.tsx
  client/src/components/navigation.tsx
  client/src/components/result-card.tsx
  client/src/components/ui/switch.tsx
  client/src/components/ui/toast.tsx
  client/src/index.css
  client/src/pages/auth.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/history.tsx
  client/src/pages/home.tsx
  client/src/pages/settings.tsx
  client/tailwind.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

feat: Complete Q4 2025 Reorganization for Sprint 3-4
  ROADMAP.md
  docs/FINAL_SUMMARY_FOR_YOU.md
  docs/Q4_2025_AT_A_GLANCE.md
  docs/Q4_2025_CHANGES_SUMMARY.md
  docs/Q4_2025_CHEAT_SHEET.md
  docs/Q4_2025_DOCS_INDEX.md
  docs/Q4_2025_DOCUMENTATION_INDEX.md
  docs/Q4_2025_EXECUTIVE_BRIEFING.md
  docs/Q4_2025_REORGANIZATION_SUMMARY.md
  docs/Q4_2025_SPRINT_PLAN.md
  docs/Q4_2025_SPRINT_PLAN_UPDATED.md
  docs/Q4_2025_VISUAL_SUMMARY.md
  docs/README_Q4_REORGANIZATION.md
  docs/REORGANIZATION_COMMIT_MESSAGE.md
  docs/REORGANIZATION_SUMMARY.md
  docs/SPRINT_3_4_BEFORE_AFTER.md
  docs/SPRINT_3_4_KICKOFF.md
  docs/START_HERE.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(master): release linkfy 2.5.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

Add Sprint 3-4 ClickUp planning and automation files
  backlog/CLICKUP_API_OPTIONS.md
  backlog/SPRINT_3_4_CLICKUP_PLAN.md
  backlog/SPRINT_3_4_CLICKUP_REVIEW.md
  backlog/SPRINT_3_4_QUICK_REFERENCE.md
  backlog/create-clickup-tasks.sh
  backlog/sprint-3-4-tasks.json
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/linkfy-maintainers

Add Product Owner docs and ClickUp sprint backlog
  backlog/CLICKUP_CREATION_COMPLETE.md
  docs/PO_SPRINT_3_4_TRACKING.md
  docs/PRODUCT_OWNER_GUIDE.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

feat(conversion-form): enhance error handling, duplicate prevention, and user feedback
  client/src/components/conversion-form.tsx
Owners: @prismaymedia/frontend-team

fix: improve mobile layout, navigation and form accessibility
  client/src/components/navigation.tsx
  client/src/components/ui/navigation-menu.tsx
  client/src/pages/help.tsx
  client/src/pages/profile.tsx
Owners: @prismaymedia/frontend-team

feat(conversion): implement request deduplication and caching to improve performance
  client/src/components/conversion-form.tsx
  client/src/lib/queryClient.ts
  server/src/services/conversion.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(queryClient): resolve failing test in queryClient.test.ts
  client/src/lib/test/queryClient.test.ts
Owners: @prismaymedia/frontend-team

refactor(conversion): improve deduplication logic and remove redundant logs
  client/src/components/conversion-form.tsx
  server/src/services/conversion.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

feat: improve responsive UI and touch targets across components
  client/src/components/conversion-form.tsx
  client/src/components/ui/toast.tsx
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

fix(conversion): apply Copilot suggestions and fix failing tests
  client/src/lib/test/conversionForm.test.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/app.controller.spec.ts
  server/src/controllers/app.controller.ts
  server/src/services/conversion.service.ts
  server/src/services/youtube.service.ts
  server/src/test/app.controller.e2e-spec.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

refactor(conversion): unify logic and shared schema for multi-platform detection
  server/src/services/conversion.service.ts
  server/src/services/spotify.service.ts
  server/src/utils/track-utils.ts
  shared/schema.ts
Owners: @prismaymedia/backend-team, @prismaymedia/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for Linkfy repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# This file defines the code owners for different parts of the codebase.
# Pull requests will automatically request reviews from the appropriate team members or groups.
#
# Each line is a file pattern followed by one or more owners (GitHub usernames or team names).
# The last matching pattern takes precedence.

# Default owner for everything in the repo
# This is a catch-all rule that will be overridden by more specific rules below
* @prismaymedia/linkfy-maintainers

# Frontend (React, TypeScript, UI components)
# Includes client app, components, pages, hooks, and UI-related code
/client/ @prismaymedia/frontend-team
/client/src/components/ @prismaymedia/frontend-team
/client/src/pages/ @prismaymedia/frontend-team
/client/src/hooks/ @prismaymedia/frontend-team

# Backend (NestJS, APIs, services)
# Includes server code, controllers, services, and API integrations
/server/ @prismaymedia/backend-team
/server/src/controllers/ @prismaymedia/backend-team
/server/src/services/ @prismaymedia/backend-team

# Chrome Extension
# Browser extension code and manifest
/chrome-addon/ @prismaymedia/extension-team

# Shared code (schemas, types, utilities)
# Code shared between frontend, backend, and extension
/shared/ @prismaymedia/frontend-team @prismaymedia/backend-team

# Documentation
# All markdown files and documentation directory
*.md @prismaymedia/product-owner @prismaymedia/documentation-team
/docs/ @prismaymedia/product-owner @prismaymedia/documentation-team

# GitHub workflows and CI/CD
# GitHub Actions, dependabot, and other automation
/.github/ @prismaymedia/devops-team
/.github/workflows/ @prismaymedia/devops-team
/.github/dependabot.yml @prismaymedia/devops-team

# Configuration files
# Build, lint, format, and other configuration files
*.config.js @prismaymedia/devops-team
*.config.ts @prismaymedia/devops-team
*.config.mjs @prismaymedia/devops-team
.prettierrc @prismaymedia/devops-team
.gitignore @prismaymedia/devops-team
tsconfig.json @prismaymedia/devops-team
package.json @prismaymedia/devops-team
yarn.lock @prismaymedia/devops-team

# Release and version management
# Automated release configuration (do not edit manually)
.release-please-manifest.json @prismaymedia/devops-team
release-please-config.json @prismaymedia/devops-team

# Community and contribution files
CODE_OF_CONDUCT.md @prismaymedia/product-owner
CONTRIBUTING.md @prismaymedia/product-owner @prismaymedia/documentation-team
LICENSE @prismaymedia/product-owner

# Changelog
CHANGELOG.md @prismaymedia/devops-team
