Repository prismaymedia/linkfy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prismaymedia/linkfy-maintainers, @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/extension-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team

Update es.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

fix(server): correct Drizzle schema import and remove Supabase module usage
  server/drizzle.config.ts
  server/src/app.module.ts
  server/src/auth/supabase-auth.guard.ts
  server/src/supabase/supabase.module.ts
  server/src/supabase/supabase.service.ts
Owners: @prismaymedia/devops-team, @prismaymedia/backend-team

chore(e2e): remove SupabaseService from tests
  server/src/test/app.controller.e2e-spec.ts
Owners: @prismaymedia/backend-team

feat(api): implement user-facing alerts for conversion failures
  client/src/components/conversion-form.tsx
  client/src/lib/test/ConversionForm.test.tsx
  client/src/locales/en.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

chore: update Vercel configuration and add .gitignore for deployment files
  client/.gitignore
  client/vercel.json
Owners: @prismaymedia/devops-team, @prismaymedia/frontend-team

fix: update application name in Vercel configuration
  client/vercel.json
Owners: @prismaymedia/frontend-team

chore: remove server deployment configuration and update documentation for client-only deployment on Vercel
  .env.vercel.example
  .github/workflows/vercel-deploy.yml
  docs/DEPLOYMENT_CHECKLIST.md
  docs/DEPLOYMENT_QUICK_START.md
  docs/VERCEL_DEPLOYMENT.md
  docs/VERCEL_IMPLEMENTATION_SUMMARY.md
  scripts/README.md
  server/vercel.json
  vercel.json
Owners: @prismaymedia/linkfy-maintainers, @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/backend-team

fix: correct Vercel project ID secret reference in deployment workflow
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: correct Vercel project ID environment variable in deployment workflow
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: remove VERCEL_TOKEN from deployment workflow and update project name in Vercel configuration
  .github/workflows/vercel-deploy.yml
  client/vercel.json
Owners: @prismaymedia/devops-team, @prismaymedia/frontend-team

fix: update build command in Vercel deployment workflow to handle pull requests correctly
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: simplify build command in Vercel deployment workflow
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: separate build steps for Vercel deployment into distinct preview and production jobs
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: streamline Vercel deployment workflow and update configuration
  .github/workflows/vercel-deploy.yml
  client/vercel.json
Owners: @prismaymedia/devops-team, @prismaymedia/frontend-team

fix: update preview deployment details to use context variables for branch, commit, and actor
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: add SHELL environment variable for build steps in Vercel deployment
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: remove SHELL environment variable from build steps in Vercel deployment
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

fix: update Node.js setup to use npm cache and install dependencies correctly
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

chore: remove Vercel deployment workflow
  .github/workflows/vercel-deploy.yml
Owners: @prismaymedia/devops-team

deploy: d62c65d536d58f8dba050fdb5075877ebe3f53fc
  assets/index-7OU6lckC.js
  assets/index-CtdHcIqS.js
  assets/index-DMxlrRMT.js
  index.html
Owners: @prismaymedia/linkfy-maintainers

chore(master): release linkfy 2.4.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

chore: remove Vercel deployment documentation and related scripts
  CONTRIBUTING.md
  README.md
  assets/WIKI_STRUCTURE.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/DEPLOYMENT_QUICK_START.md
  docs/VERCEL_DEPLOYMENT.md
  docs/VERCEL_IMPLEMENTATION_SUMMARY.md
  scripts/README.md
  scripts/setup-vercel.sh
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/linkfy-maintainers

chore: remove Vercel-specific configuration from vercel.json and simplify vite.config.ts
  client/vercel.json
  client/vite.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

chore: remove GitHub Pages deployment workflow and update deployment references to Vercel
  .github/workflows/deploy.yml
  CONTRIBUTING.md
  client/index.html
  client/package.json
  server/src/main.ts
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(routing): remove /linkfy base path to load app from root
  client/src/lib/supabaseClient.ts
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

fix(auth): improve Supabase authentication flow
  client/src/components/route-guard.tsx
  client/src/contexts/AuthContext.tsx
  client/src/lib/test/AuthContext.test.tsx
  client/src/lib/test/RouteGuard.test.tsx
  server/src/auth/supabase-auth.guard.ts
  server/src/main.ts
  server/src/test/supabase-auth.e2e-spec.ts
  server/src/test/supabase-auth.guard.spec.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

style(result-card): improve visual spacing and layout consistency
  client/src/components/result-card.tsx
Owners: @prismaymedia/frontend-team

feat: add color variants and handle warning toast via useEffect
  client/src/components/conversion-form.tsx
  client/src/components/result-card.tsx
  client/src/components/ui/toast.tsx
Owners: @prismaymedia/frontend-team

fix(navigation): adjust mobile menu alignment and layout
  client/src/components/navigation.tsx
Owners: @prismaymedia/frontend-team

feat(i18n): enhance language switcher UX, persistence and accessibility
  client/index.html
  client/src/components/language-switcher.tsx
  yarn.lock
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

fix(auth): improve error typing and message handling in catch blocks
  client/src/contexts/AuthContext.tsx
  server/src/auth/supabase-auth.guard.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

feat: Add Grafana Cloud integration with Prometheus metrics
  package-lock.json
  server/.grafana-credentials.md
  server/GRAFANA_QUICKSTART.md
  server/INTEGRATION_COMPLETE.md
  server/PROMETHEUS_FIX_COMPLETE.md
  server/PROMETHEUS_SETUP.md
  server/docker-compose.metrics.yml
  server/docs/GRAFANA_SETUP.md
  server/grafana/dashboards/linkfy-dashboard.json
  server/grafana/datasources/prometheus.yml
  server/package.json
  server/prometheus.yml
  server/scripts/setup-grafana.sh
  server/src/app.module.ts
  server/src/config/grafana.config.ts
  server/src/prometheus/metrics.interceptor.ts
  server/src/prometheus/prometheus.module.ts
  yarn.lock
Owners: @prismaymedia/linkfy-maintainers, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/backend-team, @prismaymedia/devops-team

fix(result-card): apply ui and error handling adjustments
  client/src/components/result-card.tsx
Owners: @prismaymedia/frontend-team

feat(sentry): integrate and verify error tracking in client and server
  client/src/contexts/AuthContext.tsx
  client/src/lib/queryClient.ts
  client/src/main.tsx
  server/src/controllers/app.controller.ts
  server/src/global.filter.ts
  server/src/instrument.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(tests): fix queryclient test
  client/src/lib/test/queryClient.test.ts
Owners: @prismaymedia/frontend-team

fix(conversion): improve toast handling and duplicate URL logic in tests
  client/src/components/conversion-form.tsx
  client/src/components/ui/toast.tsx
  client/src/hooks/use-toast.ts
  client/src/lib/test/setupTests.tsx
Owners: @prismaymedia/frontend-team

fix(routing): configure Wouter to serve main app only on root path
  client/src/main.tsx
  client/vercel.json
Owners: @prismaymedia/frontend-team

refactor(i18n): centralize document direction handling and improve class readability
  client/src/components/language-switcher.tsx
  client/src/lib/setDocumentDir.ts
Owners: @prismaymedia/frontend-team

feat: add Vercel Analytics integration and update dependencies
  client/package.json
  client/src/App.tsx
  package-lock.json
  yarn.lock
Owners: @prismaymedia/devops-team, @prismaymedia/frontend-team, @prismaymedia/linkfy-maintainers

chore(master): release linkfy 2.4.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

.github/CODEOWNERS:

# CODEOWNERS file for Linkfy repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# This file defines the code owners for different parts of the codebase.
# Pull requests will automatically request reviews from the appropriate team members or groups.
#
# Each line is a file pattern followed by one or more owners (GitHub usernames or team names).
# The last matching pattern takes precedence.

# Default owner for everything in the repo
# This is a catch-all rule that will be overridden by more specific rules below
* @prismaymedia/linkfy-maintainers

# Frontend (React, TypeScript, UI components)
# Includes client app, components, pages, hooks, and UI-related code
/client/ @prismaymedia/frontend-team
/client/src/components/ @prismaymedia/frontend-team
/client/src/pages/ @prismaymedia/frontend-team
/client/src/hooks/ @prismaymedia/frontend-team

# Backend (NestJS, APIs, services)
# Includes server code, controllers, services, and API integrations
/server/ @prismaymedia/backend-team
/server/src/controllers/ @prismaymedia/backend-team
/server/src/services/ @prismaymedia/backend-team

# Chrome Extension
# Browser extension code and manifest
/chrome-addon/ @prismaymedia/extension-team

# Shared code (schemas, types, utilities)
# Code shared between frontend, backend, and extension
/shared/ @prismaymedia/frontend-team @prismaymedia/backend-team

# Documentation
# All markdown files and documentation directory
*.md @prismaymedia/product-owner @prismaymedia/documentation-team
/docs/ @prismaymedia/product-owner @prismaymedia/documentation-team

# GitHub workflows and CI/CD
# GitHub Actions, dependabot, and other automation
/.github/ @prismaymedia/devops-team
/.github/workflows/ @prismaymedia/devops-team
/.github/dependabot.yml @prismaymedia/devops-team

# Configuration files
# Build, lint, format, and other configuration files
*.config.js @prismaymedia/devops-team
*.config.ts @prismaymedia/devops-team
*.config.mjs @prismaymedia/devops-team
.prettierrc @prismaymedia/devops-team
.gitignore @prismaymedia/devops-team
tsconfig.json @prismaymedia/devops-team
package.json @prismaymedia/devops-team
yarn.lock @prismaymedia/devops-team

# Release and version management
# Automated release configuration (do not edit manually)
.release-please-manifest.json @prismaymedia/devops-team
release-please-config.json @prismaymedia/devops-team

# Community and contribution files
CODE_OF_CONDUCT.md @prismaymedia/product-owner
CONTRIBUTING.md @prismaymedia/product-owner @prismaymedia/documentation-team
LICENSE @prismaymedia/product-owner

# Changelog
CHANGELOG.md @prismaymedia/devops-team
