Repository prismaymedia/linkfy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prismaymedia/linkfy-maintainers, @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/extension-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team

fix: correct API decorator for favorites remove endpoint
  server/src/controllers/favorites.controller.ts
Owners: @prismaymedia/backend-team

refactor: apply UI review improvements and enhance component consistency
  client/src/components/header.tsx
  client/src/components/navigation.tsx
  client/src/components/user-menu.tsx
Owners: @prismaymedia/frontend-team

refactor(preferences): unify settings management and migrate components to usePreferences
  client/src/components/history-retention-switcher.tsx
  client/src/components/language-switcher.tsx
  client/src/components/settings-panel.tsx
  client/src/contexts/PreferencesContext.tsx
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

chore(master): release linkfy 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

refactor: switch server database driver from Neon serverless to node-postgres and adjust client provider order
  client/src/App.tsx
  package-lock.json
  server/package.json
  server/src/database/database.service.ts
  yarn.lock
Owners: @prismaymedia/frontend-team, @prismaymedia/linkfy-maintainers, @prismaymedia/devops-team, @prismaymedia/backend-team

chore: fix i18n, formatting, and className improvements
  client/src/components/music-converter.tsx
  client/src/components/ui/error-message.tsx
  client/src/locales/en.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

refactor(toasts): apply CodeRabbit suggestions, reorganize toast manager, and fix variant typing
  client/src/lib/toastManager.ts
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

fix: remove orphan functions in history page and resolve duplicate translation key
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

feat(ui): implement complete dark/light theme support with global style fixes
  client/src/components/header.tsx
  client/src/components/history-retention-switcher.tsx
  client/src/components/history-timeline.tsx
  client/src/components/language-switcher.tsx
  client/src/components/login-modal.tsx
  client/src/components/music-converter.tsx
  client/src/components/navigation.tsx
  client/src/components/result-card.tsx
  client/src/components/settings-panel.tsx
  client/src/components/theme-switcher.tsx
  client/src/components/ui/button.tsx
  client/src/components/url-suggestion-popup.tsx
  client/src/index.css
  client/src/pages/auth.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/help.tsx
  client/src/pages/history.tsx
  client/src/pages/home.tsx
  client/src/pages/not-found.tsx
  client/src/pages/profile.tsx
Owners: @prismaymedia/frontend-team

chore(master): release linkfy 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

chore(master): release linkfy 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

style: standardize dark mode using design tokens
  client/src/components/header.tsx
  client/src/components/history-retention-switcher.tsx
  client/src/components/language-switcher.tsx
  client/src/components/navigation.tsx
  client/src/components/theme-switcher.tsx
  client/src/components/ui/dialog.tsx
  client/src/components/ui/drawer.tsx
  client/src/components/ui/sheet.tsx
  client/src/index.css
  client/tailwind.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

feat: add real-time conversion preview with full track metadata
  client/src/components/conversion-preview.tsx
  client/src/components/music-converter.tsx
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

.github/CODEOWNERS:

# CODEOWNERS file for Linkfy repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# This file defines the code owners for different parts of the codebase.
# Pull requests will automatically request reviews from the appropriate team members or groups.
#
# Each line is a file pattern followed by one or more owners (GitHub usernames or team names).
# The last matching pattern takes precedence.

# Default owner for everything in the repo
# This is a catch-all rule that will be overridden by more specific rules below
* @prismaymedia/linkfy-maintainers

# Frontend (React, TypeScript, UI components)
# Includes client app, components, pages, hooks, and UI-related code
/client/ @prismaymedia/frontend-team
/client/src/components/ @prismaymedia/frontend-team
/client/src/pages/ @prismaymedia/frontend-team
/client/src/hooks/ @prismaymedia/frontend-team

# Backend (NestJS, APIs, services)
# Includes server code, controllers, services, and API integrations
/server/ @prismaymedia/backend-team
/server/src/controllers/ @prismaymedia/backend-team
/server/src/services/ @prismaymedia/backend-team

# Chrome Extension
# Browser extension code and manifest
/chrome-addon/ @prismaymedia/extension-team

# Shared code (schemas, types, utilities)
# Code shared between frontend, backend, and extension
/shared/ @prismaymedia/frontend-team @prismaymedia/backend-team

# Documentation
# All markdown files and documentation directory
*.md @prismaymedia/product-owner @prismaymedia/documentation-team
/docs/ @prismaymedia/product-owner @prismaymedia/documentation-team

# GitHub workflows and CI/CD
# GitHub Actions, dependabot, and other automation
/.github/ @prismaymedia/devops-team
/.github/workflows/ @prismaymedia/devops-team
/.github/dependabot.yml @prismaymedia/devops-team

# Configuration files
# Build, lint, format, and other configuration files
*.config.js @prismaymedia/devops-team
*.config.ts @prismaymedia/devops-team
*.config.mjs @prismaymedia/devops-team
.prettierrc @prismaymedia/devops-team
.gitignore @prismaymedia/devops-team
tsconfig.json @prismaymedia/devops-team
package.json @prismaymedia/devops-team
yarn.lock @prismaymedia/devops-team

# Release and version management
# Automated release configuration (do not edit manually)
.release-please-manifest.json @prismaymedia/devops-team
release-please-config.json @prismaymedia/devops-team

# Community and contribution files
CODE_OF_CONDUCT.md @prismaymedia/product-owner
CONTRIBUTING.md @prismaymedia/product-owner @prismaymedia/documentation-team
LICENSE @prismaymedia/product-owner

# Changelog
CHANGELOG.md @prismaymedia/devops-team
