Repository prismaymedia/linkfy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prismaymedia/linkfy-maintainers, @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/extension-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team

feat(api): implement universal /api/convert endpoint with platform auto-routing
  server/src/app.controller.spec.ts
  server/src/controllers/app.controller.ts
Owners: @prismaymedia/backend-team

test(conversion): extend validation and e2e tests for unified convert endpoint
  server/src/test/app.controller.e2e-spec.ts
  server/src/test/schema.validation.spec.ts
  server/src/test/supabase-auth.e2e-spec.ts
Owners: @prismaymedia/backend-team

feat(client): add mocks and update conversion form for universal API support
  client/src/components/conversion-form.tsx
  client/src/lib/mocks/handlers.ts
  client/src/lib/test/conversionForm.test.tsx
Owners: @prismaymedia/frontend-team

chore(requests): update example to use /api/convert endpoint
  requests/youtube-convert.http
Owners: @prismaymedia/linkfy-maintainers

chore(client): move sentry dsn to environment variable
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

chore(master): release linkfy 2.5.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

Remove Grafana and Prometheus integration docs
  server/.grafana-credentials.md
  server/GRAFANA_QUICKSTART.md
  server/INTEGRATION_COMPLETE.md
  server/PROMETHEUS_FIX_COMPLETE.md
  server/PROMETHEUS_SETUP.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

Update VITE_API_URL placeholders in env files
  client/.env.development.example
  client/.env.production
Owners: @prismaymedia/frontend-team

Add Sentry initialization test on first app load
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

refactor(ui): apply Copilot code review suggestions for class handling and layout improvements
  client/src/components/conversion-form.tsx
  client/src/components/header.tsx
  client/src/components/language-switcher.tsx
  client/src/index.css
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

chore(code): apply minor adjustments and improve consistency
  client/src/components/conversion-form.tsx
  server/src/controllers/app.controller.ts
  server/src/services/conversion.service.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

feat(ui): add trash icon with hover actions
  client/src/components/conversion-form.tsx
  client/src/locales/en.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

Add Sentry browser tracing integration
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

Update main.tsx
  client/src/main.tsx
Owners: @prismaymedia/frontend-team

refactor(api): reorganize /api/user-info endpoint structure and module organization
  server/src/app.module.ts
  server/src/controllers/app.controller.ts
  server/src/test/user.controller.e2e-spec.ts
  server/src/user.controller.spec.ts
  server/src/user/controllers/user.controller.ts
  server/src/user/user.module.ts
Owners: @prismaymedia/backend-team

fix(conversion): resolve debounce and preview issues in conversion form
  client/src/components/conversion-form.tsx
  client/src/lib/test/conversionForm.test.tsx
  server/src/controllers/app.controller.ts
  server/src/main.ts
  server/src/services/conversion.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

refactor(user): align user controller route with API versioning convention
  server/src/test/user.controller.e2e-spec.ts
  server/src/user/controllers/user.controller.ts
Owners: @prismaymedia/backend-team

fix(conversion-form): apply Copilot suggestions for accessibility and focus styles
  client/src/components/conversion-form.tsx
Owners: @prismaymedia/frontend-team

refactor(music-converter): replace Get Started with Music Converter component
  client/src/components/music-converter.tsx
  client/src/lib/mocks/handlers.ts
  client/src/lib/test/music-converter.test.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/home.tsx
  server/src/controllers/app.controller.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

test: fix Supabase authentication E2E test
  server/src/test/supabase-auth.e2e-spec.ts
Owners: @prismaymedia/backend-team

feat(dynamic-service-icons): implement URL-based icon switching for music platforms
  client/src/components/dynamic-service-icon.tsx
  client/src/components/music-converter.tsx
  client/src/components/music-service-detector.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/services/conversion.service.ts
  server/src/services/storage.service.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

Update 0000_initial_schema.sql
  server/migrations/0000_initial_schema.sql
Owners: @prismaymedia/backend-team

fix(dynamic-service-icon): remove unused import and update translation strings
  client/src/components/dynamic-service-icon.tsx
  client/src/locales/en.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

chore(code-style): apply Copilot suggestions for comment translation and formatting
  client/src/components/dynamic-service-icon.tsx
  client/src/components/music-converter.tsx
  client/src/components/music-service-detector.tsx
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

chore(env): remove old environment variable files and add new example
  client/.env.example
  client/.env.production
Owners: @prismaymedia/frontend-team

chore(master): release linkfy 2.5.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

feat: Implement comprehensive version synchronization system
  README.md
  client/package.json
  docs/FILES_TO_UPDATE_CHECKLIST.md
  docs/Q4_2025_SPRINT_PLAN.md
  docs/Q4_2025_SPRINT_STATUS_OVERVIEW.md
  docs/QUICK_REFERENCE.md
  docs/REORGANIZATION_SUMMARY.txt
  docs/SPRINT_5_6_REORGANIZADO.md
  docs/SPRINT_SUMMARY_CURRENT.md
  docs/SPRINT_UPDATE_PROTOCOL.md
  docs/VERSION_HISTORY.md
  docs/VERSION_SYNC_FINAL_SUMMARY.md
  docs/VERSION_SYNC_GUIDE.md
  docs/VERSION_SYNC_INTEGRATION_COMPLETE.md
  scripts/sprint-update-checklist.sh
  scripts/sync-versions.sh
  scripts/verify-versions.sh
  server/package.json
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

fix: Correct alignment and formatting issues in README.md
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(config): integrate ClickUp automation scripts into Copilot instructions
  .github/copilot-instructions.md
  backlog/CLICKUP_SCRIPTS_README.md
  backlog/create-sprint-5-6-tasks.sh
  docs/CLICKUP_AUTOMATION_SETUP.md
  docs/SPRINT_5_6_CLICKUP_PREVIEW.md
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/linkfy-maintainers

chore(master): release linkfy 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

feat(Frontend/UI): add header repo link, enable user dashboard access, and remove unused UI elements
  client/src/components/header.tsx
  client/src/components/music-converter.tsx
  client/src/components/navigation.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/pages/dashboard.tsx
Owners: @prismaymedia/frontend-team

fix: secure external GitHub links in header and navigation
  client/src/components/header.tsx
  client/src/components/navigation.tsx
Owners: @prismaymedia/frontend-team

feat(backend/config): move CORS to config file with whitelist
  server/src/config/cors.config.ts
  server/src/main.ts
Owners: @prismaymedia/devops-team, @prismaymedia/backend-team

feat(config): improve CORS config and whitelist handling
  server/src/config/cors.config.ts
Owners: @prismaymedia/devops-team

feat(security): add external URL sanitization and validation
  server/src/test/schema.validation.spec.ts
  server/src/test/url-sanitizer.spec.ts
  server/src/utils/url-sanitizer.ts
  shared/schema.ts
Owners: @prismaymedia/backend-team, @prismaymedia/frontend-team

chore(validation): the code review suggestions were implemented
  server/src/test/schema.validation.spec.ts
  server/src/utils/url-sanitizer.ts
Owners: @prismaymedia/backend-team

feat(db): implement persistent storage for history and favorites
  server/migrations/0001_history_favorites.sql
  server/src/database/database.service.spec.ts
  server/src/database/database.service.ts
  shared/schema.ts
Owners: @prismaymedia/backend-team, @prismaymedia/frontend-team

fix(database): Improve history update and fix imports
  client/src/components/music-converter.tsx
  client/src/lib/test/music-converter.test.tsx
  server/src/database/database.service.spec.ts
  server/src/database/database.service.ts
  server/src/main.ts
  shared/schema.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

feat(auth): implement frictionless login modal and fix auth redirect flow
  client/src/App.tsx
  client/src/components/header.tsx
  client/src/components/login-modal.tsx
  client/src/components/route-guard.tsx
  client/src/contexts/LoginModalContext.tsx
  client/src/pages/auth.tsx
  client/src/pages/home.tsx
Owners: @prismaymedia/frontend-team

test: fix route-guard tests after login modal refactor
  client/src/lib/test/RouteGuard.test.tsx
Owners: @prismaymedia/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for Linkfy repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# This file defines the code owners for different parts of the codebase.
# Pull requests will automatically request reviews from the appropriate team members or groups.
#
# Each line is a file pattern followed by one or more owners (GitHub usernames or team names).
# The last matching pattern takes precedence.

# Default owner for everything in the repo
# This is a catch-all rule that will be overridden by more specific rules below
* @prismaymedia/linkfy-maintainers

# Frontend (React, TypeScript, UI components)
# Includes client app, components, pages, hooks, and UI-related code
/client/ @prismaymedia/frontend-team
/client/src/components/ @prismaymedia/frontend-team
/client/src/pages/ @prismaymedia/frontend-team
/client/src/hooks/ @prismaymedia/frontend-team

# Backend (NestJS, APIs, services)
# Includes server code, controllers, services, and API integrations
/server/ @prismaymedia/backend-team
/server/src/controllers/ @prismaymedia/backend-team
/server/src/services/ @prismaymedia/backend-team

# Chrome Extension
# Browser extension code and manifest
/chrome-addon/ @prismaymedia/extension-team

# Shared code (schemas, types, utilities)
# Code shared between frontend, backend, and extension
/shared/ @prismaymedia/frontend-team @prismaymedia/backend-team

# Documentation
# All markdown files and documentation directory
*.md @prismaymedia/product-owner @prismaymedia/documentation-team
/docs/ @prismaymedia/product-owner @prismaymedia/documentation-team

# GitHub workflows and CI/CD
# GitHub Actions, dependabot, and other automation
/.github/ @prismaymedia/devops-team
/.github/workflows/ @prismaymedia/devops-team
/.github/dependabot.yml @prismaymedia/devops-team

# Configuration files
# Build, lint, format, and other configuration files
*.config.js @prismaymedia/devops-team
*.config.ts @prismaymedia/devops-team
*.config.mjs @prismaymedia/devops-team
.prettierrc @prismaymedia/devops-team
.gitignore @prismaymedia/devops-team
tsconfig.json @prismaymedia/devops-team
package.json @prismaymedia/devops-team
yarn.lock @prismaymedia/devops-team

# Release and version management
# Automated release configuration (do not edit manually)
.release-please-manifest.json @prismaymedia/devops-team
release-please-config.json @prismaymedia/devops-team

# Community and contribution files
CODE_OF_CONDUCT.md @prismaymedia/product-owner
CONTRIBUTING.md @prismaymedia/product-owner @prismaymedia/documentation-team
LICENSE @prismaymedia/product-owner

# Changelog
CHANGELOG.md @prismaymedia/devops-team
