Repository prismaymedia/linkfy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prismaymedia/linkfy-maintainers, @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/extension-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for Linkfy repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# This file defines the code owners for different parts of the codebase.
# Pull requests will automatically request reviews from the appropriate team members or groups.
#
# Each line is a file pattern followed by one or more owners (GitHub usernames or team names).
# The last matching pattern takes precedence.

# Default owner for everything in the repo
# This is a catch-all rule that will be overridden by more specific rules below
* @prismaymedia/linkfy-maintainers

# Frontend (React, TypeScript, UI components)
# Includes client app, components, pages, hooks, and UI-related code
/client/ @prismaymedia/frontend-team
/client/src/components/ @prismaymedia/frontend-team
/client/src/pages/ @prismaymedia/frontend-team
/client/src/hooks/ @prismaymedia/frontend-team

# Backend (NestJS, APIs, services)
# Includes server code, controllers, services, and API integrations
/server/ @prismaymedia/backend-team
/server/src/controllers/ @prismaymedia/backend-team
/server/src/services/ @prismaymedia/backend-team

# Chrome Extension
# Browser extension code and manifest
/chrome-addon/ @prismaymedia/extension-team

# Shared code (schemas, types, utilities)
# Code shared between frontend, backend, and extension
/shared/ @prismaymedia/frontend-team @prismaymedia/backend-team

# Documentation
# All markdown files and documentation directory
*.md @prismaymedia/product-owner @prismaymedia/documentation-team
/docs/ @prismaymedia/product-owner @prismaymedia/documentation-team

# GitHub workflows and CI/CD
# GitHub Actions, dependabot, and other automation
/.github/ @prismaymedia/devops-team
/.github/workflows/ @prismaymedia/devops-team
/.github/dependabot.yml @prismaymedia/devops-team

# Configuration files
# Build, lint, format, and other configuration files
*.config.js @prismaymedia/devops-team
*.config.ts @prismaymedia/devops-team
*.config.mjs @prismaymedia/devops-team
.prettierrc @prismaymedia/devops-team
.gitignore @prismaymedia/devops-team
tsconfig.json @prismaymedia/devops-team
package.json @prismaymedia/devops-team
yarn.lock @prismaymedia/devops-team

# Release and version management
# Automated release configuration (do not edit manually)
.release-please-manifest.json @prismaymedia/devops-team
release-please-config.json @prismaymedia/devops-team

# Community and contribution files
CODE_OF_CONDUCT.md @prismaymedia/product-owner
CONTRIBUTING.md @prismaymedia/product-owner @prismaymedia/documentation-team
LICENSE @prismaymedia/product-owner

# Changelog
CHANGELOG.md @prismaymedia/devops-team

chore(master): release linkfy 2.1.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

chore(auth): update redirect URL for GitHub Pages deployment
  client/src/App.tsx
  client/src/lib/supabaseClient.ts
  client/src/pages/auth.tsx
Owners: @prismaymedia/frontend-team

deploy: 8214557e50b91ab3f14d238feb628886282ca1df
  assets/index-BELY-E8f.js
  assets/index-CxeBaRHo.js
  assets/index-DGw1_i6J.js
  assets/index-DIlcluy8.js
  index.html
Owners: @prismaymedia/linkfy-maintainers

Updates
  assets/index-BELY-E8f.js
  assets/index-DGw1_i6J.js
  assets/index-DQ4yQJ1M.js
  index.html
Owners: @prismaymedia/linkfy-maintainers

chore(docs): remove outdated project structure section from README
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(docs): remove license section from README
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

deploy: 246f4c0e3fc2e3e77f31af0a0eea8606ff57413f
  assets/index-BELY-E8f.js
  assets/index-DGw1_i6J.js
  assets/index-DQ4yQJ1M.js
  index.html
Owners: @prismaymedia/linkfy-maintainers

fix(docs): correct table of contents formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(docs): update help section wording in CONTRIBUTING.md for clarity
  CONTRIBUTING.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(docs): update badge text for live demo link in README.md
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(docs): update badge text from "Use App" to "Launch App" in README.md
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(master): release linkfy 2.1.2
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

feat(docs): add auto-generation of architecture diagrams using Mermaid
  .github/workflows/generate-diagrams.yml
  README.md
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(ci): resolve puppeteer sandbox issues in diagram generation
  .github/workflows/generate-diagrams.yml
  docs/architecture.mmd
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(docs): update issue reporting badge in README for better visibility
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(docs): remove unnecessary div wrapper around issue reporting badge in README
  README.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(master): release linkfy 2.2.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

fix(docs): update README and add initial ROADMAP for project planning
  README.md
  ROADMAP.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

fix(client): resolve GitHub Pages SPA routing issues
  client/index.html
  client/src/App.tsx
  client/vite.config.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/devops-team

fix(config): correct Vite plugin syntax for 404.html generation
  client/vite.config.ts
Owners: @prismaymedia/devops-team

deploy: f4b8c0fcf6d67fe93d286abceb86df2c652ecddc
  404.html
  index.html
Owners: @prismaymedia/linkfy-maintainers

feat(config): add initial configuration for ClickUp server in mcp.json
  .vscode/mcp.json
Owners: @prismaymedia/linkfy-maintainers

feat(docs): add ClickUp MCP configuration template and setup instructions
  .gitignore
  .vscode/README.md
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team

feat(gitignore): add ClickUp tasks folder to .gitignore
  .gitignore
Owners: @prismaymedia/devops-team

refactor(gitignore): remove ClickUp tasks folder from .gitignore
  .gitignore
  ROADMAP.md
  backlog/tasks.md
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team

feat(clickup): add ClickUp task creation helper functions and configuration documentation
  .gitignore
  backlog/CLICKUP_SETUP.md
  backlog/clickup-helpers.sh
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/linkfy-maintainers

feat(roadmap): enhance URL detection and validation section with new tasks and features feat(clickup): update file paths in ClickUp setup documentation for clarity
  ROADMAP.md
  backlog/CLICKUP_SETUP.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

docs: add Q4 2025 sprint plan with agile workflow for 2 fullstack devs
  README.md
  ROADMAP.md
  docs/Q4_2025_SPRINT_PLAN.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

feat(clickup): add automatic ROADMAP sync when creating tasks
  backlog/CLICKUP_SETUP.md
  backlog/clickup-helpers.sh
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/linkfy-maintainers

docs: add comprehensive ROADMAP sync guide with examples
  docs/ROADMAP_SYNC_GUIDE.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(master): release linkfy 2.3.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

docs: update q4 sprint plan with december capacity, holidays and language policy
  docs/Q4_2025_SPRINT_PLAN.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

fix: update bug fix tasks with ClickUp references for v2.3.0
  ROADMAP.md
Owners: @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(master): release linkfy 2.3.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

fix: update project overview to clarify Linkfy's functionality as a universal music streaming URL converter
  .github/copilot-instructions.md
Owners: @prismaymedia/devops-team

fix: enhance project documentation for multi-browser support and user experience improvements
  .github/copilot-instructions.md
  ROADMAP.md
Owners: @prismaymedia/devops-team, @prismaymedia/product-owner, @prismaymedia/documentation-team

chore(master): release linkfy 2.3.2
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Owners: @prismaymedia/devops-team

deploy: a336f3c12519a445a20dc87acef18db034ed4439
  assets/index-BELY-E8f.js
  assets/index-BPc6HEVY.js
  assets/index-CgMjrjYr.css
  assets/index-DGw1_i6J.js
  assets/index-DkA9uxVM.js
  assets/index-VnkcyE2U.css
  index.html
Owners: @prismaymedia/linkfy-maintainers

deploy: 47508086d05ea3fc749641f46169f477077e41df
  assets/index-7OU6lckC.js
  assets/index-BPc6HEVY.js
  assets/index-Cm6-nqSc.css
  assets/index-DkA9uxVM.js
  assets/index-VnkcyE2U.css
  assets/index-XkeNfE7I.js
  index.html
Owners: @prismaymedia/linkfy-maintainers

feat(conversion): display user-facing alert on failed song conversion
  client/src/components/conversion-form.tsx
  client/src/hooks/use-toast.ts
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/controllers/app.controller.ts
  server/src/services/conversion.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team
