Repository prismaymedia/linkfy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prismaymedia/linkfy-maintainers, @prismaymedia/frontend-team, @prismaymedia/backend-team, @prismaymedia/extension-team, @prismaymedia/product-owner, @prismaymedia/documentation-team, @prismaymedia/devops-team

feat(extension): implement full URL detection workflow and suggestion popup
  chrome-addon/background.js
  chrome-addon/content.js
  chrome-addon/manifest.json
  client/src/AppExtension.tsx
  client/src/components/url-suggestion-popup.tsx
Owners: @prismaymedia/extension-team, @prismaymedia/frontend-team

style(cursor-hover): add global cursor pointers and unified hover/active feedback across UI
  client/src/components/ui/breadcrumb.tsx
  client/src/index.css
Owners: @prismaymedia/frontend-team

chore(master): release linkfy 2.6.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @prismaymedia/devops-team, @prismaymedia/linkfy-maintainers

fix: implement suggested updates and missing i18n keys
  chrome-addon/background.js
  chrome-addon/content.js
  chrome-addon/manifest.json
  chrome-addon/utils.js
  client/src/components/url-suggestion-popup.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/services/conversion.service.ts
Owners: @prismaymedia/extension-team, @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(database): apply formatting suggestions for imports and custom error class
  server/src/database/database.service.spec.ts
  server/src/database/database.service.ts
Owners: @prismaymedia/backend-team

fix(extension): wrap switch-case scope and update Deezer match patterns
  chrome-addon/background.js
  chrome-addon/manifest.json
Owners: @prismaymedia/extension-team

fix(database): prevent unintended overwrite in history sync conflict updates
  server/src/database/database.service.ts
Owners: @prismaymedia/backend-team

fix(manifest, background): wrap case blocks to prevent scope leakage and update manifest accordingly
  chrome-addon/background.js
  chrome-addon/manifest.json
Owners: @prismaymedia/extension-team

fix(manifest): remove unnecessary utils.js entry from web_accessible_resources
  chrome-addon/manifest.json
Owners: @prismaymedia/extension-team

feat(ui): add input error handling system
  client/src/components/music-converter.tsx
  client/src/components/ui/error-message.tsx
  client/src/components/ui/form-field-container.tsx
  client/src/components/ui/input-with-error.tsx
  client/src/locales/en.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

fix(url-sanitizer): correct HTTPS validation and improve XSS detection
  server/src/test/schema.validation.spec.ts
  server/src/test/url-sanitizer.spec.ts
  server/src/utils/url-sanitizer.ts
  shared/schema.ts
Owners: @prismaymedia/backend-team, @prismaymedia/frontend-team

fix(url-schema): enhance URL validation and XSS filtering
  server/src/test/schema.validation.spec.ts
  server/src/utils/url-sanitizer.ts
Owners: @prismaymedia/backend-team

fix(url-sanitizer): add locale support to Deezer path regex
  server/src/utils/url-sanitizer.ts
Owners: @prismaymedia/backend-team

fix(url-sanitizer): correct error message to match supported URL patterns
  server/src/utils/url-sanitizer.ts
Owners: @prismaymedia/backend-team

chore(url-sanitizer): apply Prettier formatting to Deezer regex line
  server/src/utils/url-sanitizer.ts
Owners: @prismaymedia/backend-team

refactor(auth): apply Copilot and CodeRabbit recommendations
  client/src/components/login-modal.tsx
  client/src/components/route-guard.tsx
  client/src/contexts/LoginModalContext.tsx
  client/src/pages/auth.tsx
Owners: @prismaymedia/frontend-team

fix: apply ESLint/Prettier formatting and replace hardcoded text with i18n
  client/src/components/music-converter.tsx
  client/src/components/ui/error-message.tsx
  client/src/components/ui/form-field-container.tsx
Owners: @prismaymedia/frontend-team

fix: CodeRabbit suggestions for ErrorMessage accessibility and duplicate URL warning
  client/src/components/music-converter.tsx
  client/src/components/ui/error-message.tsx
  client/src/locales/en.json
  client/src/locales/es.json
Owners: @prismaymedia/frontend-team

feat(history): store, display, search and clear user conversion history
  client/src/components/history-timeline.tsx
  client/src/pages/history.tsx
  server/src/app.controller.spec.ts
  server/src/app.module.ts
  server/src/auth/optional-auth.guard.ts
  server/src/controllers/app.controller.ts
  server/src/controllers/history.controller.ts
  server/src/services/history.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(client): safely handle createdAt and payload fields in history timeline
  client/src/components/history-timeline.tsx
Owners: @prismaymedia/frontend-team

fix(history): fix i18n interpolation and clean up unused error variable
  client/src/components/history-timeline.tsx
  client/src/pages/history.tsx
  server/src/auth/optional-auth.guard.ts
  server/src/controllers/history.controller.ts
  server/src/services/history.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix(history): replace template literals with proper i18n interpolation
  client/src/components/history-timeline.tsx
Owners: @prismaymedia/frontend-team

feat: Enhanced Toast Notification System
  client/src/components/ui/toast.tsx
  client/src/components/ui/toaster.tsx
  client/src/hooks/use-toast.ts
  client/src/lib/toastManager.ts
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

refactor(toast): improve toast variants and cleanup unused error variable
  client/src/lib/toastManager.ts
  client/src/pages/history.tsx
Owners: @prismaymedia/frontend-team

feat(favorites): add full favorites system for quick access to saved conversions
  client/src/App.tsx
  client/src/components/favorites-button.tsx
  client/src/components/favorites-sidebar.tsx
  client/src/hooks/use-favorites.ts
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/pages/history.tsx
  server/src/app.module.ts
  server/src/controllers/favorites.controller.ts
  server/src/database/database.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix: implement improvements and apply final updates
  client/src/components/favorites-button.tsx
  client/src/components/favorites-sidebar.tsx
  client/src/hooks/use-favorites.ts
  server/src/controllers/favorites.controller.ts
  server/src/database/database.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix: remove redundant auth check and improve favorites controller flow
  server/src/controllers/favorites.controller.ts
Owners: @prismaymedia/backend-team

fix: improve user menu responsive positioning and prevent overflow on mobile
  client/src/components/header.tsx
  client/src/components/navigation.tsx
  client/src/components/user-menu.tsx
  client/src/pages/dashboard.tsx
Owners: @prismaymedia/frontend-team

fix: resolve header overflow on mobile and tablet devices
  client/src/components/header.tsx
  client/src/components/navigation.tsx
  client/src/index.css
Owners: @prismaymedia/frontend-team

feat(extension): add environment configuration
  chrome-addon/config.js
  server/src/services/youtube.service.ts
Owners: @prismaymedia/extension-team, @prismaymedia/backend-team

feat(extension): add environment configuration
  chrome-addon/background.js
  chrome-addon/content.js
  chrome-addon/manifest.json
  chrome-addon/utils.js
  client/src/AppExtension.tsx
Owners: @prismaymedia/extension-team, @prismaymedia/frontend-team

refactor(chrome-addon): code improvements and optimizations
  chrome-addon/background.js
  chrome-addon/config.js
Owners: @prismaymedia/extension-team

refactor(chrome-addon): improve background script and config
  chrome-addon/background.js
Owners: @prismaymedia/extension-team

fix: apply code quality improvements
  client/src/components/history-timeline.tsx
  client/src/pages/history.tsx
  server/src/auth/optional-auth.guard.ts
  server/src/controllers/app.controller.ts
  server/src/controllers/history.controller.ts
  server/src/database/database.service.ts
  server/src/services/history.service.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix: align failed-history recording with validated convert flag
  client/src/pages/history.tsx
  server/src/controllers/app.controller.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

fix: code improvements and better error handling
  .github/workflows/format.yml
  chrome-addon/background.js
  chrome-addon/config.js
  chrome-addon/content.js
  chrome-addon/manifest.json
  chrome-addon/utils.js
  server/src/services/youtube.service.ts
Owners: @prismaymedia/devops-team, @prismaymedia/extension-team, @prismaymedia/backend-team

fix(ci): correct file_pattern in format workflow
  .github/workflows/format.yml
Owners: @prismaymedia/devops-team

fix: remove push trigger and exclude workflow files from auto-format
  .github/workflows/format.yml
Owners: @prismaymedia/devops-team

feat(settings): implement complete Settings Panel with all configuration options
  client/src/App.tsx
  client/src/components/music-service-selector.tsx
  client/src/components/settings-panel.tsx
  client/src/components/theme-switcher.tsx
  client/src/contexts/PreferencesContext.tsx
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/pages/settings.tsx
Owners: @prismaymedia/frontend-team

fix: code improvements in favorites module
  client/src/App.tsx
  client/src/components/favorites-button.tsx
  client/src/components/favorites-sidebar.tsx
  client/src/components/history-timeline.tsx
  client/src/hooks/use-favorites.ts
  client/src/locales/en.json
  client/src/locales/es.json
  server/src/controllers/favorites.controller.ts
  server/src/database/database.service.ts
  server/src/test/favorites.controller.e2e-spec.ts
Owners: @prismaymedia/frontend-team, @prismaymedia/backend-team

.github/CODEOWNERS:

# CODEOWNERS file for Linkfy repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# This file defines the code owners for different parts of the codebase.
# Pull requests will automatically request reviews from the appropriate team members or groups.
#
# Each line is a file pattern followed by one or more owners (GitHub usernames or team names).
# The last matching pattern takes precedence.

# Default owner for everything in the repo
# This is a catch-all rule that will be overridden by more specific rules below
* @prismaymedia/linkfy-maintainers

# Frontend (React, TypeScript, UI components)
# Includes client app, components, pages, hooks, and UI-related code
/client/ @prismaymedia/frontend-team
/client/src/components/ @prismaymedia/frontend-team
/client/src/pages/ @prismaymedia/frontend-team
/client/src/hooks/ @prismaymedia/frontend-team

# Backend (NestJS, APIs, services)
# Includes server code, controllers, services, and API integrations
/server/ @prismaymedia/backend-team
/server/src/controllers/ @prismaymedia/backend-team
/server/src/services/ @prismaymedia/backend-team

# Chrome Extension
# Browser extension code and manifest
/chrome-addon/ @prismaymedia/extension-team

# Shared code (schemas, types, utilities)
# Code shared between frontend, backend, and extension
/shared/ @prismaymedia/frontend-team @prismaymedia/backend-team

# Documentation
# All markdown files and documentation directory
*.md @prismaymedia/product-owner @prismaymedia/documentation-team
/docs/ @prismaymedia/product-owner @prismaymedia/documentation-team

# GitHub workflows and CI/CD
# GitHub Actions, dependabot, and other automation
/.github/ @prismaymedia/devops-team
/.github/workflows/ @prismaymedia/devops-team
/.github/dependabot.yml @prismaymedia/devops-team

# Configuration files
# Build, lint, format, and other configuration files
*.config.js @prismaymedia/devops-team
*.config.ts @prismaymedia/devops-team
*.config.mjs @prismaymedia/devops-team
.prettierrc @prismaymedia/devops-team
.gitignore @prismaymedia/devops-team
tsconfig.json @prismaymedia/devops-team
package.json @prismaymedia/devops-team
yarn.lock @prismaymedia/devops-team

# Release and version management
# Automated release configuration (do not edit manually)
.release-please-manifest.json @prismaymedia/devops-team
release-please-config.json @prismaymedia/devops-team

# Community and contribution files
CODE_OF_CONDUCT.md @prismaymedia/product-owner
CONTRIBUTING.md @prismaymedia/product-owner @prismaymedia/documentation-team
LICENSE @prismaymedia/product-owner

# Changelog
CHANGELOG.md @prismaymedia/devops-team
